In [10]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\20221si0006\appdata\local\anaconda3\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\20221si0006\appdata\local\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import mysql.connector
from mysql.connector import Error

In [14]:
def criar_conexao_servidor(usuario, senha, host, nome_bd):
    conexao = None
    try:
        conexao = mysql.connector.connect(
            host=host,
            user=usuario,
            passwd=senha,
            database=nome_bd
        )
        print("MySQL DB conectado com sucesso")
    except Error as err:
        print(f"Erro: '{err}'")
    
    return conexao

In [15]:
conexao = criar_conexao_servidor('root', '', 'localhost', 'apollo')

MySQL DB conectado com sucesso

In [16]:
cursor = conexao.cursor()

In [17]:
inserir_cliente = "INSERT INTO CLIENTE (NomeCliente, NumeroCliente, EnderecoCliente) VALUES (%s, %s, %s)"
valores_cliente = ("cliente5", "52345", "Camboa")
cursor.execute(inserir_cliente, valores_cliente)
conexao.commit()

ProgrammingError: 1932 (42S02): Table 'apollo.cliente' doesn't exist in engine

In [8]:
inserir_funcionario = "INSERT INTO FUNCIONARIO (NomeFuncionario, NumeroFuncionario, EnderecoFuncionario, DiariaFuncionario) VALUES (%s, %s, %s, %s)"
valores_funcionario = ("Jeferson Pé de Pato", "98441", "Ivar Saldanha", 80)
cursor.execute(inserir_funcionario, valores_funcionario)
conexao.commit()

NameError: name 'cursor' is not defined

In [37]:
inserir_servico = "INSERT INTO SERVICO (NomeServico, PrecoServico) VALUES (%s, %s)"
valores_servico = ("Elétrica", 120)
cursor.execute(inserir_servico, valores_servico)
conexao.commit()

In [40]:
inserir_custo = "INSERT INTO CUSTO (DescCusto, ValorCusto) VALUES (%s, %s)"
valores_custo = ("Gasolina", 150)
cursor.execute(inserir_custo, valores_custo)
conexao.commit()

In [46]:
inserir_data = "INSERT INTO DATA (DiaData) VALUES (%s)"
valores_data = ("2023-08-01",)
cursor.execute(inserir_data, valores_data)
conexao.commit()

In [52]:
inserir_prestacao = "INSERT INTO PRESTACAO (Adicional, IDServico, IDCliente) VALUES (%s, %s, %s)"
valores_prestacao = (30, "1", "4")
cursor.execute(inserir_prestacao, valores_prestacao)
conexao.commit()

In [62]:
inserir_prest_func = "INSERT INTO FUNCIONARIO_PRESTACAO (IDFuncionario, IDPrestacao) VALUES (%s, %s)"
valores_prest_func = (1,4)
cursor.execute(inserir_prest_func, valores_prest_func)
conexao.commit()

In [69]:
inserir_prest_custo = "INSERT INTO PRESTACAO_CUSTO (IDPrestacao, IDCusto) VALUES (%s, %s)"
valores_prest_custo = (1,1)
cursor.execute(inserir_prest_custo, valores_prest_custo)
conexao.commit()

In [76]:
inserir_prest_data = "INSERT INTO PRESTACAO_DATA (IDPrestacao, IDData) VALUES (%s, %s)"
valores_prest_data = (4,3)
cursor.execute(inserir_prest_data, valores_prest_data)
conexao.commit()